.loginPage{
    max-width: 300px;
    margin: auto;
}

.linkTo{
    margin-top: 10px;
    text-align: center;
}
.linkToText{
    text-decoration: black underline;
    font-weight: 500;
}
.formInput{
    width: 300px;
}