.movieTitle{
    font-family: "Geist Bold", system-ui;
    font-size: 32px;
}

.moviePage{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.movieInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.movieImage{
    min-width: 180px;
    max-width: 240px;
    min-height: 260px;
    max-height: 350px;
}


.movieGenres{
    display: flex;
    gap: 10px;
}


.movieDuration{
    color: gray;
}

.movieSessions{
    display: flex;
    flex-direction: column;
}