.dialog{
    height: 500px;
}



.dialogHeader{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
}
.dialogButton{
    width: 100%;
    margin: 30px 0 0 0;
}

.rateName{
    font-size: 16px;
    font-weight: 600;
}

.ratePrice{
    font-size: 16px;
    font-weight: 500;
}