.calendar{
    display: flex;
}
.calendarMonths{
    display: flex;
    gap: 30px;
}
.calendarDayWeeks{
    display: flex;
    gap: 30px;
}
.calendarCards{
    display: flex;
    gap: 20px;
}
.calendarCard{
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 15px;

}
.calendarCardActive{
    border:2px solid black;
}

.calendarDates{
    display: flex;
}