.registerPage{
    margin: auto;
}
.formInput{
    width: 300px;
}
.linkTo{
    margin-top: 10px;
    text-align: center;
}
.linkToText{
    font-weight: 500;
    text-decoration: black underline;
}